* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html {
    font-size:16px;
}
body {background-color:rgb(190, 110, 4); color:rgb(255, 255, 255);}
.header {
    width:100%;
    height:40px;
    padding-top:10px;
    margin:auto;
    background-color:rgb(27, 27, 27);
    position:fixed;
    top:0;
    left:0;
    z-index:1;
}
.header h1 {
    font-size:1.30rem;
    font-style:oblique;
    text-align:center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-spacing:-2px;
}
.header h1 a:link {
    text-decoration: none;
    color:rgb(255, 255, 255);
}
.header h1 a:visited {
    color:rgb(255, 255, 255);
}
.header h1 span {
    color:rgb(190, 110, 4);
}
.main {
    z-index:0;
    max-width:990px;
    width:100%;
    height:auto;
    margin:auto;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items:center;
    border-radius:15px;
}
.sec-one {
    max-width:100%;
    width:1155px;
    height:auto;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: flex-start;
    text-align:justify;
    padding:10px;
    padding-top:5px;
    background-color:rgb(110, 64, 3);
}
.sec-one h2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:1.50rem;
    text-align:center;
    color:rgb(192, 190, 190);
}
.main .descr-one {
    margin-top:45px;
    width: 100%;
    height:35px;
    padding-top:3px;
    background-color:rgb(129, 75, 5);
}
.main .descr-one h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:2rem;
    text-transform: uppercase;
    padding-left:10px;
    color:rgb(226, 226, 225);
    text-align:center;
}

.main .descr-two {
    width: 100%;
    height:30px;
    background-color:rgb(10, 10, 10);
}
.main .descr-two h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:1.30rem;
    text-transform: uppercase;
    padding-left:10px;
    color:rgb(190, 110, 4);
    text-align: left;
    padding-top:4px;
}

.sec-one #frase-gerada {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:2rem;
    font-weight:bold;
    font-style:oblique;
    color:rgb(255, 255, 255);
    background-color:rgb(97, 56, 3);
    border-radius:10px;
    padding:10px;
}
.sec-one #button-next {
    font-size:1rem;
    padding:5px;
    background-color: rgb(184, 107, 6);
    outline-style: none;
    border-style: none;
    border-radius:5px;
    margin-right:5px;
    margin-top:10px;

}

.sec-two {
    max-width:100%;
    width:1155px;
    height:auto;
    padding:25px;
    background-color:rgb(10, 10, 10);
}

#generator-sec h3 {
    font-size:1.20rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(223, 128, 5);
    padding-bottom:5px;
    text-align:center;
    text-transform: uppercase;
}
#cont-range {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center;
    width:80%;
    margin:auto;
}
#range {
    width:100%;
}
#number-range {
    font-family: Arial, Helvetica, sans-serif;
    font-size:2.40rem;
    font-weight: bold;
    margin-right:3px;
    color: rgb(184, 107, 6);
}
.generate {
    font-size:1rem;
    padding:5px;
    background-color: rgb(184, 107, 6);
    outline-style: none;
    border-style: none;
    border-radius:5px;
    margin-right:5px;
}
#delete {
    font-size:1rem;
    padding:5px;
    background-color: rgb(184, 107, 6);
    outline-style: none;
    border-style: none;
    border-radius:5px;
    margin-right:5px;

}
.container--lorem-text{
    padding-top:5px;
    padding-left:5px;
    padding-right:5px;
    max-width:990px;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
}
.container--lorem-text p {
    text-align:center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:1.20rem;
    font-weight:bold;
    font-style:oblique;
    color:rgb(211, 211, 211);
    margin-bottom:10px;
    background-color:rgb(19, 18, 18);
    border-radius:10px;
    padding:10px;
}

.descr-three {
    margin:auto;
    max-width:990px;
    width:100%;
    height:30px;
    background-color:rgb(0, 0, 0);
}
.descr-three h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:1.30rem;
    text-transform: uppercase;
    padding-left:10px;
    color:rgb(190, 110, 4);
    text-align: center;
    padding-top:4px;
}
.theme {
    margin:auto;
    max-width:990px;
    width:100%;
    background-color:rgb(0, 0, 0);
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding:10px;
}
.theme-mobile {
    display:none;
}
.theme a:link {
    font-size:1.30rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: lowercase;
    text-decoration: none;
    color:rgb(160, 92, 3);
    padding:5px;
}
.theme a:visited {
    color:rgb(160, 92, 3);
}
.theme a:hover {
    color:rgb(180, 105, 6);
}
.theme a:active {
    color:rgb(160, 92, 3);
}
.box-article {
    max-width:990px;
    width:100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding-left:30px;
    padding-right:30px;
    padding-top:20px;
    padding-bottom:20px;
    color:rgb(138, 138, 138);
    background-color:rgb(32, 32, 32);
}
.box-article .article {
    width:100%;
}
.article h2 {
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    color:rgb(153, 151, 151);

}
.article p {
    font-size:1.25rem;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    color:rgb(114, 114, 114);
}
.footer {
    background-color:transparent;
    margin:auto;
    max-width:990px;
    width:100%;
    height:28px;
    line-height:28px;
    word-spacing:5px;
}
.footer p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style:oblique;
    font-size:1rem;
    text-align:center;
    color:rgb(0, 0, 0);

}
.footer p a:link {
    text-decoration: none;
    color:rgb(0, 0, 0);
}
.footer p a:visited {
    color:rgb(0, 0, 0);
}
.footer p a:active {
    color:rgb(0, 0, 0);
}
.sec-four {
    max-width:100%;
    width:1155px;
    height:auto;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-align:justify;
    padding:25px;
    padding-top:30px;
    padding-bottom:20px;
    background-color:rgb(10, 10, 10);
}
.sec-four p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:2rem;
    font-weight:bold;
    font-style:oblique;
    color:rgb(211, 211, 211);
    background-color:rgb(19, 18, 18);
    border-radius:10px;
    padding:10px;
    margin-bottom:15px;
}
.bt {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width:990px;
    width:100%;
} 
.bt-back {
    background-color: rgb(160, 92, 2);
    border-style: none;
    outline-style:none;
    border-radius:50px;
    height:30px;
    font-size:1em;
    padding:7px;
    text-align:left;
}

@media screen and (max-width:700px) {
    .sec-one {
        text-align:center;
    }  
    .sec-four {
        text-align:center;
    }
    .sec-one #button-next {
        font-size:1rem;
        padding:5px;
    }
    .main .descr-two h2 {
        text-align:center;
    }
    .sec-two {
        padding-top:10px;
    }
}
@media screen and (max-width:600px) {
    .sec-three {
        width:100%; 
        max-width: 100%;
    }
    .theme {
        display:none;
    }
    .theme-mobile {
        margin:auto;
        display:flex;
        flex-direction:column;
        justify-content: flex-start;
        align-items: center;
        background-color:rgb(0, 0, 0);
    }
    .theme-mobile a:link {
        font-size:1rem;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        font-weight:bold;
        text-decoration: none;
        color:rgb(160, 92, 3);
        padding:5px;
        text-align:center;
    }
    .theme-mobile a:visited {
        color:rgb(160, 92, 3);
    }
    .theme-mobile a:hover {
        color:rgb(180, 105, 6);
    }
    .theme-mobile a:active {
        color:rgb(160, 92, 3);
    }
    #all-themes {
        color:rgb(110, 63, 0);
    }
    .footer {
        display:none;
    }
}