* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html {
    font-size:16px;
}
body {background-color:rgb(0, 0, 0); color:rgb(255, 255, 255);}
.header {
    width:100%;
    height:40px;
    padding-top:10px;
    margin:auto;
    background-color:rgb(27, 27, 27);
    position:fixed;
    top:0;
    left:0;
    z-index:1;
}
.header h1 {
    font-size:1.30rem;
    font-style:oblique;
    text-align:center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-spacing:-2px;
}
.header h1 a:link {
    text-decoration: none;
    color:rgb(255, 255, 255);
}
.header h1 a:visited {
    color:rgb(255, 255, 255);
}
.header h1 span {
    color:rgb(190, 110, 4);
}
.main {
    z-index:0;
    max-width:990px;
    width:100%;
    height:auto;
    margin:auto;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items:center;
    border-radius:15px;
}
.sec-one {
    max-width:100%;
    width:1155px;
    height:auto;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-align:justify;
    padding:25px;
    padding-top:30px;
    padding-bottom:20px;
    background-color:rgb(10, 10, 10);
}
.main .descr-one {
    margin-top:45px;
    width: 100%;
    height:30px;
    line-height:30px;
    background-color:rgb(20, 20, 20);
}
.main .descr-one h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:0.90rem;
    font-style:oblique;
    text-transform: uppercase;
    padding-left:10px;
    color:rgb(173, 173, 173);
}
.main .descr-two {
    width: 100%;
    height:30px;
    line-height:30px;
    background-color:rgb(20, 20, 20);
}
.main .descr-two h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-style:oblique;
    font-weight:bold;
    font-size:0.90rem;
    text-transform: uppercase;
    padding-left:10px;
    color:rgb(173, 173, 173);
}

.sec-one #frase-gerada {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:2rem;
    font-weight:bold;
    font-style:oblique;
    color:rgb(211, 211, 211);
    background-color:rgb(19, 18, 18);
    border-radius:10px;
    padding:10px;
}
.sec-one #button-next {
    font-size:1rem;
    padding:5px;
    margin-bottom:8px;
}

.sec-two {
    max-width:100%;
    width:1155px;
    height:auto;
    padding:25px;
    background-color:rgb(10, 10, 10);
}

#generator-sec h3 {
    font-size:1rem;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(172, 25, 6);
    padding-bottom:5px;
    text-align:center;
}
#cont-range {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center;
    width:80%;
    margin:auto;
}
#range {
    width:75%;
}
#number-range {
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.40rem;
    font-weight: bold;
    margin-left:3px;
    color:rgb(206, 206, 206);
}
.generate {
    font-size:1rem;
    padding:5px;
    margin-left:5px;
    margin-bottom:3px;
}
#delete {
    font-size:1rem;
    padding:5px;
    margin-left:5px;   
    margin-bottom:3px;

}
.container--lorem-text{
    padding-top:5px;
    padding-left:5px;
    padding-right:5px;
    max-width:990px;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
}
.container--lorem-text p {
    text-align:justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:1.20rem;
    font-weight:bold;
    font-style:oblique;
    color:rgb(211, 211, 211);
    margin-bottom:10px;
    background-color:rgb(19, 18, 18);
    border-radius:10px;
    padding:10px;
}

.box-article {
    max-width:990px;
    width:100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding-left:30px;
    padding-right:30px;
    padding-top:20px;
    padding-bottom:20px;
    color:rgb(138, 138, 138);
    background-color:rgb(24, 24, 24);
}
.box-article .article {
    width:100%;
}
.article h2 {
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    
}
.article p {
    font-size:1.25rem;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
}
.descr-three {
    margin:auto;
    max-width:990px;
    width:100%;
    height:30px;
    line-height:30px;
    background-color:rgb(20, 20, 20);
}
.descr-three h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:0.90rem;
    font-style:oblique;
    text-transform: uppercase;
    padding-left:10px;
    color:rgb(173, 173, 173);
}
.theme {
    margin:auto;
    max-width:990px;
    width:100%;    
    background-color:rgb(31, 30, 30);
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: flex-start;
    padding:10px;
}
.theme a:link {
    font-size:1rem;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color:rgb(92, 92, 92);
    margin-left:45px;

}
.theme a:visited {
    color:rgb(92, 92, 92);
}
.theme a:hover {
    color:rgb(124, 124, 124);
}
.theme a:active {
    color:rgb(92, 92, 92);
}
.footer {
    background-color: rgb(0, 0, 0);
    margin:auto;
    max-width:990px;
    width:100%;
    height:28px;
    line-height:28px;
    word-spacing:5px;
}
.footer p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style:oblique;
    font-size:1rem;
    text-align:center;
    color:rgb(92, 92, 92);

}
.footer p span {
    color:rgb(190, 110, 4);
}
.footer p a:link {
    text-decoration: none;
    color:rgb(92, 92, 92);
}
.footer p a:visited {
    color:rgb(92, 92, 92);
}
.footer p a:hover {
    color:rgb(124, 124, 124);
}
.footer p a:active {
    color:rgb(92, 92, 92);
}
.sec-four {
    max-width:100%;
    width:1155px;
    height:auto;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-align:justify;
    padding:25px;
    padding-top:30px;
    padding-bottom:20px;
    background-color:rgb(10, 10, 10);
}
.sec-four p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:2rem;
    font-weight:bold;
    font-style:oblique;
    color:rgb(211, 211, 211);
    background-color:rgb(19, 18, 18);
    border-radius:10px;
    padding:10px;
    margin-bottom:15px;
}
.bt {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width:990px;
    width:100%;
} 
.bt-back {
    background-color: rgb(160, 92, 2);
    border-style: none;
    outline-style:none;
    border-radius:50px;
    height:30px;
    font-size:1em;
    padding:7px;
    text-align:left;
}